page-dashboard {

    .color-1 {
        background-color: #32c45e;
    }
    .color-2 {
        background-color: #9dc432;
    }
    .color-3 {
        background-color: #f1b81c;
    }
    .color-4 {
        background-color: #f152f1;
    }
}
